<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header class='fixElem top'>
    <a href="{% url 'main' %}">Сократить</a>
    <a href="{% url 'list' %}">Список ссылок</a>
    {% if not user.is_authenticated %}
      <p><a href="{% url 'login' %}">Войти</a> или <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
    </header>
    {% else %}
      <p>Привет, {{ user.first_name }}.</p>
    {% endif %}
</header>
<div class = 'main'>
    {% block content%}{% endblock %}
</div>
<div class='fixElem bottom'>
<a href="{% url 'login' %}">Войти</a>
<a href="{% url 'registration' %}">Зарегистрироваться</a>
</div>
</body>
</html>